/* Website Container */
body, html {
    margin: 0px;
    padding: 0px;
    max-height: max-content;

}



/* Set global variables for the website */
:root {
    --colorTheme: rgb(26, 70, 99);
}


.page-wrapper {
    display: flex;
    flex-wrap: wrap;
}


/* Header Contect */
.header-container {
    width: 100%;
}
.row img{
    height: 200px;
}
@media screen and (max-width: 768px){
    #header-img {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    .nav li {
        text-align: center;
    }
}






/* Main Content Container */
.main-container {
    display: flex;
    padding: 0px 0px 122px 0px;
}
.content-container {
    width: 100%;
}
.content-container-1 {
    flex: 100%;
    height: 400px;
    background-image: url('jakob-owens-M4ZDsNxy26w-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 90%;
}
.content-container-2 {
    flex: 100%;
    display: flex;
}
#iFrameA {
    height: 500px;
    width: 300px;
    flex: 0.5;
    border: none;
    margin: 25px 0px 25px 50px;
}
.content-container-2 p {
    flex: 0.5;
    margin: 100px 25px 25px 200px;
}
#review-wrapper {
    display: flex;
    justify-content: center;
    margin: 25px 0px 25px 0px;
    width: 100%;
}
.content-container-3 {
    display: flex;
    flex-wrap: wrap;
}
.review-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px 150px 200px 150px;
    grid-gap: 50px 30px;
}
.review-grid div {
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 7px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}
.review-grid div div{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    box-shadow: none;
}
.review-grid div div img {
    width: 100%;
    flex: 1; 
    border-radius: 50%;
}
.review-grid div div p{
    width: 100%;
    flex: 2;
    height: 100px;
    padding-top: 50px;
}





/* Container 4 */
.content-container-4 {
    flex: 100%;
    padding: 0px 0px 50px 0px;
}
#leave-review-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ), url("/Users/huntersandness/Desktop/Development/Frontend/WebDev/CorePassion/Resources/review_background.jpg");
}
#leave-review-wrapper h2{
    color: white
}
/* Star rating */
.star-class {
    display: flex;
    justify-content: center;
    margin: 25px 0px 25px 0px;
}
.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    height: 15px;
    overflow: hidden;
    position: relative;
    /* Blank star */
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }
.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    /* Light up star */
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }
.star-rating input {
    opacity: 0;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    /* Places the user input infront 
       of the blank star */
    z-index: 2;
    position: relative;
}
/* Set the width of the "i" elements */
.star-rating input:hover + i,
.star-rating input:checked + i {
    opacity: 1;
}
.star-rating i ~ i {
    width: 20%;
  }
.star-rating i ~ i ~ i {
    width: 60%;
}
.star-rating i ~ i ~ i ~ i {
    width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
    width: 100%;
}
::after,
::before {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}
.star-rating.star-5 {
    width: 75px;
}
/* At each next star, the width grows
   and adds a new highlited star with
   a "z" element of 2 so the user input
   is infront of everything else*/
.star-rating.star-5 input,
.star-rating.star-5 i {
    width: 20%;
}
.star-rating.star-5 i ~ i {
    width: 40%;
}
.star-rating.star-5 i ~ i ~ i {
    width: 60%;
}
.star-rating.star-5 i ~ i ~ i ~ i {
    width: 80%;
}
.star-rating.star-5 i ~ i ~ i ~ i ~ i {
    width: 100%;
}
/* Review response */
.review-response {
    display: flex;
    padding: 10px 0px 10px 250px;
}
.review-response input {
    box-sizing: border-box;
    outline: none;
    border: 0;
}
.review-response label{
    padding: 0px 10px 0px 10px;
}
.response-text-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 25px;
}
.response-text-form input {
    background-color: lightgray;
}
.response-submission {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.response-submission textarea {
    margin-right: 300px;
    margin-left: 300px;
    background-color: lightgray;
    resize: none;
}
.response-submission p {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
#fname {
    padding: 0px 15px 15px 15px;
    margin: 0px 0px 15px 0px;
}
#fnameID {
    margin: 0px 0px 5px 0px;
    height: 15px;
}
#lname {
    padding: 0px 15px 15px 15px;
    margin: 0px 0px 15px 0px;
}
#lnameID {
    margin: 0px 0px 5px 0px;
    height: 15px;
}
